<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="pane">
    <h1 class="header">{{ restaurant.name }}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for item in items %}
    <p class="name">{{ item.name }}</p></br>
    <p class="price">{{ item.price }}</p></br>
    <p class="description">{{ item.description }}</p></br>
    <div class="editdeletepane">
        <a href={{ url_for('edit_menuitem', restaurant_id=restaurant.id, menuitem_id=item.id) }}>Edit</a>
        <a href={{ url_for('delete_menuitem', restaurant_id=restaurant.id, menuitem_id=item.id) }}>Delete</a></br>
    </div>
    </br>
    {% endfor %}
    </div>
</body>
</html>

